@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  color: $color-black;
  background: $color-white;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: $color-primary-dark;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: 600;
  color: $color-black;
}

h1 {
  font-size: $font-size-3xl;

  @include mobile-only {
    font-size: $font-size-2xl;
  }
}

h2 {
  font-size: $font-size-2xl;

  @include mobile-only {
    font-size: $font-size-xl;
  }
}

h3 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $spacing-md;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding-left: $spacing-lg;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  @include container;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
