@use '../../styles/variables' as *;

.pageHeader {
  background: $color-primary;
  padding: $spacing-3xl 0;
  color: $color-white;
}

.container {
  @include container;
}

.pageHeader h1 {
  color: $color-white;
  margin-bottom: $spacing-sm;
}

.subtitle {
  font-size: $font-size-lg;
  opacity: 0.9;
  max-width: 600px;
}
