@use '../../styles/variables' as *;

.header {
  background: $color-white;
  border-bottom: 1px solid $color-border;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
}

.logo {
  display: block;
  flex-shrink: 0;

  img {
    display: block;
    height: 40px;
    width: auto;

    @include responsive($breakpoint-md) {
      height: 50px;
    }
  }
}

.menuToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: none;
  border: none;
  cursor: pointer;

  @include responsive($breakpoint-lg) {
    display: none;
  }
}

.menuIcon {
  position: relative;
  width: 24px;
  height: 2px;
  background: $color-black;
  transition: background $transition-fast;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-black;
    transition: transform $transition-fast;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}

.nav {
  @include mobile-only {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $color-white;
    border-bottom: 1px solid $color-border;
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-normal;
  }

  &.navOpen {
    @include mobile-only {
      max-height: 400px;
    }
  }
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;

  @include responsive($breakpoint-lg) {
    display: flex;
    gap: $spacing-lg;
  }
}

.navItem {
  @include mobile-only {
    border-top: 1px solid $color-border;
  }
}

.navLink {
  display: block;
  padding: $spacing-md;
  color: $color-black;
  font-weight: 500;
  transition: color $transition-fast;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }

  @include responsive($breakpoint-lg) {
    padding: $spacing-sm 0;
  }
}

.navLinkActive {
  color: $color-primary;
  position: relative;

  @include responsive($breakpoint-lg) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $color-primary;
    }
  }

  @include mobile-only {
    background: $color-grey-light;
  }
}

.menuOpen {
  .menuIcon {
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &::after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}
